<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card">
            <img src="{{pokemon?.sprites?.other['official-artwork']?.front_default}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title">{{pokemon?.name | uppercase}}</h5>
                </div>
                <h6 class="pb-1">
                    <b>Types: </b>
                    <ul>
                        <li *ngFor="let type of pokemon?.types">
                            <span class="text-muted">{{type?.type?.name}}</span>
                        </li>
                    </ul>
                </h6>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success" (click)="addPokemon()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>